nav {
  background-color: blanchedalmond;
  padding: 10px;
}
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #1098ad;
}

h1,
h2,
h3 {
  color: #1098ad;
}
h2 {
  font-size: 40px;
  font-family: sans-serif;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
}

li {
  font-family: sans-serif;
}

/* footer p {
  font-size: 16px;
} */

/* header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}
/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border: 5px solid #1098ad;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}
li:nth-child(2) {
  color: red;
}

article p:last-child {
  color: red;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: none orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving conflicts */

#copyright {
  color: red;
}

.copyright {
  color: yellow;
}
.text {
  color: blue;
}

footer p {
  color: green;
}
