* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: blanchedalmond;
  padding: 10px;
}
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #1098ad;
}

h1,
h2,
h3 {
  color: #1098ad;
  margin: 15px 10px;
}
h2 {
  font-size: 40px;
  font-family: sans-serif;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
}

li {
  font-family: sans-serif;
  padding: 10px;
  margin: 5px;
}
article h3,
article p,
article li {
  padding: 10px;
  margin: 5px;
}
/* footer p {
  font-size: 16px;
} */

/* header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}
/* ul {
  list-style: none;
} */

.related {
  list-style: none;
  padding: 10px;
  margin: 5px;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px;
}

aside {
  background-color: #f7f7f7;
  border: 5px solid #1098ad;
  padding: 50px 10px 30px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}
li:nth-child(2) {
  color: red;
}

article p:last-child {
  color: red;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: none orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving conflicts */

#copyright {
  color: red;
  padding: 10px;
  margin: 5px;
}

.copyright {
  color: yellow;
}
.text {
  color: blue;
}

footer p {
  color: green;
}

article img {
  padding: 10px;
  margin: 5px;
}

h2::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h3 + p::first-line {
  color: red;
}
h2 {
  /* background-color: orange;  */
  position: relative;
}
h2::after {
  content: "TOP";
  background-color: rgb(218, 218, 33);
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}
